/Nivel 1/Ejercicio 1/Solutions/EjercicioDePrimos/nbproject/private/
/Nivel 1/Ejercicio 1/Solutions/EjercicioDePrimos/build/
/Nivel 2/Ejercicio 1/Solutions/EjercicioDePrimos_2/nbproject/private/
/Nivel 2/Ejercicio 1/Solutions/EjercicioDePrimos_2/build/
